@import "src/styles/main.scss";
#header {
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    .logo {
      width: 100%;
      display: block;
    }
    .header-link {
      display: flex;
      gap: 16px;
      a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        font-family: "Poppins";
        color: $Gray;
        &:hover {
          color: $VeryDarkBlue;
        }
      }
    }
  }

  .header-account {
    display: flex;
    align-items: center;
    gap: 24px;
    > div {
      font-size: 18px;
      font-weight: 500;
      font-family: "Poppins";
      cursor: pointer;
      user-select: none;
    }
    .login {
      color: $Gray;
    }
    .signup {
      color: #fff;
      background: $Cyan;
      padding: 6px 16px;
      border-radius: 32px;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .nav-mobile {
    display: none;
  }

  @include mobile {
    .header-account {
      display: none;
    }
    .header-left {
      .header-link {
        display: none;
      }
    }
    .nav-mobile {
      display: block;
    }
  }
}
@include mobile {
  .ant-dropdown {
    width: calc(100% - 48px);
    margin-top: 36px;
    .ant-dropdown-menu {
      background: $DarkViolet;
      padding: 26px 12px;
      .ant-dropdown-menu-item{
        text-align: center;
        color: #fff;
        height: 70px;
      } 
      .ant-dropdown-menu-item-divider{
        background-color: $Gray;
      }
      a {
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        font-family: "Poppins";
        color: $Gray;
        &:hover {
          color: $VeryDarkBlue;
        }
      }
      .login {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        font-family: "Poppins";
        cursor: pointer;
        user-select: none;
      }
      .signup {
        font-size: 18px;
        font-weight: 700;
        font-family: "Poppins";
        cursor: pointer;
        user-select: none;
        color: #fff;
        background: $Cyan;
        padding: 6px 16px;
        border-radius: 32px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
