@import 'src/styles/main.scss';

.static-item{
    height: 265px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    border-radius: 8px;
    z-index: 1;
    .icon{
        position: absolute;
        top:0;
        transform: translateY(-50%);
        left: 30px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $DarkViolet;
        img{
            width: 50%;
            height: 50%;
        }
    }

    .static-body{
        padding: 70px 30px 40px;
        h3{
            text-align: left;
            font-size: 18px;
            font-family: "Poppins";
            color: $DarkViolet;
        }
        p{
            margin-top: 20px;
            font-family: "Poppins";
            text-align: left;
            font-size: 16px;
            color: $Gray;
        }
    }
}