@import 'src/styles/main.scss';

#statics{
    margin-top: 30px;
    .heading{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2{
            color: $VeryDarkViolet;
            font-size: 30px;
            font-family: 'Poppins';

        }
        p{
            margin-top: 30px;
            max-width: 400px;
            color: $GrayishViolet;
            font-size: 14px;
            line-height: 30px;
            font-family: 'Poppins';
        }
    }
    .statics-list{
        margin-top: 100px;
        display: flex;
        position: relative;
        gap: 26px;
        flex-direction: row;
        >.static-item:nth-child(2){
            margin-top: 45px;
        }
        >.static-item:nth-child(3){
            margin-top: 90px;
        }
        .line{
            position: absolute;
            z-index: 0;
            height: 8px;
            width: 100%;
            left: 0;
            top:40%;
            background: $Cyan;
        }
    }
    padding-bottom: 130px;
}